<a href="https://colab.research.google.com/github/joselvira/BiomecanicaPython/blob/master/Notebooks/Transformar_Bases_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cómo transformar la orientación de las bases de datos 

En ocasiones tenemos una base de datos con las variables dispuestas lateralmente unas al lado de otras (orientación horizontal) y necesitamos colocar los datos hacia abajo (en vertical) separando las características por factores.

## DE HORIZONTAL A VERTICAL

### Ejemplo sencillo

Creamos una base de datos sencilla con orientación horizontal.

Tiene un factor tiempo con tres niveles y un factor grupo con dos niveles.

In [13]:
import numpy as np
import pandas as pd

n = 3
Tiempo = ['base', 'pre', 'post']
Grupo = ['GE', 'GC']

np.random.seed(456) #fija la aleatoriedad

#Creamos datos aleatorios para cada grupo de datos
GEBase = np.random.normal(7.3, size=n)
GEPre = np.random.normal(7.4, size=n)
GEPost = np.random.normal(10.1, size=n)
GCBase = np.random.normal(7.5, size=n)
GCPre = np.random.normal(7.5, size=n)
GCPost = np.random.normal(7.5, size=n)


#Los junta en un dataframe
df = pd.DataFrame({'SujID': np.arange(n*len(Grupo))+1,
                   'Grupo': np.repeat(Grupo, n),
                   'Medida_base': np.hstack([GEBase, GCBase]),
                   'Medida_pre': np.hstack([GEPre, GCPre]),
                   'Medida_post': np.hstack([GEPost, GCPost]),
                   })

df

   SujID Grupo  Medida_base  Medida_pre  Medida_post
0      1    GE     6.631871    7.968692    10.401966
1      2    GE     6.801790    8.750509    10.549483
2      3    GE     7.918576    9.029589     9.754189
3      4    GC     7.184769    6.388154     9.444702
4      5    GC     5.484029    7.737851     9.415676
5      6    GC     6.369769    7.174870     8.420348

Ahora lo colocamos en disposición vertical.

In [14]:
#primero fuerza a poner los no del sujeto con 2 caracteres, si no los desordena
df['SujID'] = ['{0:02d}'.format(int(x)) for x in df['SujID']]
nomVars='Medida'
dfFactores = pd.melt(df, id_vars=['SujID', 'Grupo'], value_vars=df.filter(regex=nomVars).columns, var_name='NomVariable', value_name=nomVars)

dfFactores

   SujID Grupo  NomVariable     Medida
0     01    GE  Medida_base   6.631871
1     02    GE  Medida_base   6.801790
2     03    GE  Medida_base   7.918576
3     04    GC  Medida_base   7.184769
4     05    GC  Medida_base   5.484029
5     06    GC  Medida_base   6.369769
6     01    GE   Medida_pre   7.968692
7     02    GE   Medida_pre   8.750509
8     03    GE   Medida_pre   9.029589
9     04    GC   Medida_pre   6.388154
10    05    GC   Medida_pre   7.737851
11    06    GC   Medida_pre   7.174870
12    01    GE  Medida_post  10.401966
13    02    GE  Medida_post  10.549483
14    03    GE  Medida_post   9.754189
15    04    GC  Medida_post   9.444702
16    05    GC  Medida_post   9.415676
17    06    GC  Medida_post   8.420348

Ahora se expande la variable creada NomVariable para que guarde en otra columna el factor tiempo.

In [0]:
dfFactores['Tiempo'] = dfFactores['NomVariable'].str.split('_', expand=True)[1]

Por último, se pueden ordenar las columnas.

In [16]:
dfFactores = dfFactores.reindex (columns=['SujID', 'NomVariable', 'Grupo', 'Tiempo', 'Medida'])

dfFactores

   SujID  NomVariable Grupo Tiempo     Medida
0     01  Medida_base    GE   base   6.631871
1     02  Medida_base    GE   base   6.801790
2     03  Medida_base    GE   base   7.918576
3     04  Medida_base    GC   base   7.184769
4     05  Medida_base    GC   base   5.484029
5     06  Medida_base    GC   base   6.369769
6     01   Medida_pre    GE    pre   7.968692
7     02   Medida_pre    GE    pre   8.750509
8     03   Medida_pre    GE    pre   9.029589
9     04   Medida_pre    GC    pre   6.388154
10    05   Medida_pre    GC    pre   7.737851
11    06   Medida_pre    GC    pre   7.174870
12    01  Medida_post    GE   post  10.401966
13    02  Medida_post    GE   post  10.549483
14    03  Medida_post    GE   post   9.754189
15    04  Medida_post    GC   post   9.444702
16    05  Medida_post    GC   post   9.415676
17    06  Medida_post    GC   post   8.420348

### Otro ejemplo con más variables dependientes

In [44]:
import numpy as np
import pandas as pd

n = 3
Tiempo = ['pre', 'post']
Grupo = ['GE', 'GC']

np.random.seed(456) #fija la aleatoriedad

#Creamos datos aleatorios para cada grupo de datos
GEPre1 = np.random.normal(7.4, size=n)
GEPost1 = np.random.normal(10.1, size=n)
GCPre1 = np.random.normal(7.5, size=n)
GCPost1 = np.random.normal(7.5, size=n)

GEPre2 = np.random.normal(27.4, size=n)
GEPost2 = np.random.normal(30.1, size=n)
GCPre2 = np.random.normal(27.5, size=n)
GCPost2 = np.random.normal(27.5, size=n)


#Los junta en un dataframe
df2 = pd.DataFrame({'SujID': np.arange(n*len(Grupo))+1,
                   'Grupo': np.repeat(Grupo, n),
                   'Medida1_pre': np.hstack([GEPre1, GCPre1]),
                   'Medida1_post': np.hstack([GEPost1, GCPost1]),
                   'Medida2_pre': np.hstack([GEPre2, GCPre2]),
                   'Medida2_post': np.hstack([GEPost2, GCPost2]),
                   })

df2

   SujID Grupo  Medida1_pre  Medida1_post  Medida2_pre  Medida2_post
0      1    GE     6.731871     10.668692    26.288154     32.044702
1      2    GE     6.901790     11.450509    27.637851     32.015676
2      3    GE     8.018576     11.729589    27.074870     31.020348
3      4    GC     7.801966      7.184769    28.436398     27.411248
4      5    GC     7.949483      5.484029    28.657552     26.528515
5      6    GC     7.154189      6.369769    27.393792     27.115940

Ahora se pasa a formato vertical por factores. Se puede poner separando cada variable dependiente en una columna, o todo en vertical incluidas las variables dependientes (facilita crear gráficos por agrupaciones).

#### 1- Separando cada variable dependiente en una columna

In [42]:
#primero fuerza a poner los no del sujeto con 2 caracteres, si no los desordena
df2['SujID'] = ['{0:02d}'.format(int(x)) for x in df2['SujID']]
nomVars=['Medida1', 'Medida2']

dfFactores2 = pd.DataFrame()
for var in nomVars:
  provis = pd.melt(df2, id_vars=['SujID', 'Grupo'], value_vars=df2.filter(regex=var).columns, var_name='Index', value_name=var)
  dfFactores2[var] = provis.iloc[:, -1]

#Ahora hay que añadirle las otras variables
dfFactores2['SujID'] = provis['SujID']
#dfFactores2['NomVariable'] = provis['Index']
dfFactores2['Tiempo'] = provis['Index'].str.split('_', expand=True)[1]
dfFactores2['Grupo'] = provis['Grupo']

#Y se reordenan las columnas
dfFactores2 = dfFactores2.reindex (columns=['SujID', 'Grupo', 'Tiempo'] + nomVars)
dfFactores2
#provis

   SujID Grupo Tiempo    Medida1    Medida2
0     01    GE    pre   6.731871  26.288154
1     02    GE    pre   6.901790  27.637851
2     03    GE    pre   8.018576  27.074870
3     04    GC    pre   7.801966  28.436398
4     05    GC    pre   7.949483  28.657552
5     06    GC    pre   7.154189  27.393792
6     01    GE   post  10.668692  32.044702
7     02    GE   post  11.450509  32.015676
8     03    GE   post  11.729589  31.020348
9     04    GC   post   7.184769  27.411248
10    05    GC   post   5.484029  26.528515
11    06    GC   post   6.369769  27.115940

#### 2- Todo en vertical incluidas las variables dependientes

En value_vars introducir las variables que haya que ordenar, se puede hacer con las distintas opciones de Pandas.

In [50]:

dfFactores2_2 = pd.melt(df2, id_vars=['SujID', 'Grupo'], value_vars=df2.filter(regex='Medida').columns, var_name='Index', value_name='Medida')

#A partir de la variable Index, crea la columna Tiempo y NomVariable
dfFactores2_2['Tiempo'] = dfFactores2_2['Index'].str.split('_', expand=True)[1]
dfFactores2_2['NomVariable'] = dfFactores2_2['Index'].str.split('_', expand=True)[0]

#Y se reordenan las columnas. De paso se elimina la variable Index
dfFactores2_2 = dfFactores2_2.reindex (columns=['SujID', 'Grupo', 'Tiempo', 'NomVariable', 'Medida'])

dfFactores2_2

    SujID Grupo Tiempo NomVariable     Medida
0       1    GE    pre     Medida1   6.731871
1       2    GE    pre     Medida1   6.901790
2       3    GE    pre     Medida1   8.018576
3       4    GC    pre     Medida1   7.801966
4       5    GC    pre     Medida1   7.949483
5       6    GC    pre     Medida1   7.154189
6       1    GE   post     Medida1  10.668692
7       2    GE   post     Medida1  11.450509
8       3    GE   post     Medida1  11.729589
9       4    GC   post     Medida1   7.184769
10      5    GC   post     Medida1   5.484029
11      6    GC   post     Medida1   6.369769
12      1    GE    pre     Medida2  26.288154
13      2    GE    pre     Medida2  27.637851
14      3    GE    pre     Medida2  27.074870
15      4    GC    pre     Medida2  28.436398
16      5    GC    pre     Medida2  28.657552
17      6    GC    pre     Medida2  27.393792
18      1    GE   post     Medida2  32.044702
19      2    GE   post     Medida2  32.015676
20      3    GE   post     Medida2  31.020348
21      4    GC   post     Medida2  27.411248
22      5    GC   post     Medida2  26.528515
23      6    GC   post     Medida2  27.115940

### Ejemplo más complejo con más variables

Ahora cargamos una base de datos de ejemplo, que contiene una muestra que realiza un experimento en el que se realiza un test de precisión en una diana, otro de control postural y otro test de salto vertical.

In [55]:
import pandas as pd

#Cargar la base de datos de ejemplo
urlDatos='https://raw.githubusercontent.com/joselvira/BiomecanicaPython/master/Datos/BasesDatos/BaseDatosDianas_Fake.xlsx'
nombreHoja = 'DatosHorizontal'

dfDatos = pd.read_excel(urlDatos, sheet_name=nombreHoja, index_col=None)
dfDatos

    SujID      Grupo       Edad  ...  Puntos_retest  Equilibrio_retest  Salto_retest
0       1  Entrenado  13.508680  ...             33          14.211841     21.909154
1       2  Entrenado  14.108241  ...             31          14.580621     22.126124
2       3  Entrenado  15.127287  ...             24          13.763388     22.071827
3       4  Entrenado  14.284315  ...             31          14.672547     22.151674
4       5  Entrenado  13.285982  ...             25          13.504805     21.755714
5       6  Entrenado  14.416425  ...             35          14.126287     22.110633
6       7  Entrenado  13.805980  ...             32          13.769698     21.769799
7       8  Entrenado  14.066872  ...             28          13.896297     22.300287
8       9  Entrenado  14.157171  ...             32          13.239037     22.132844
9      10  Entrenado  14.207242  ...             31          13.257044     21.978297
10     11  Entrenado  15.022504  ...             23          14.231342     21.936861
11     12  Entrenado  14.091082  ...             25          13.511280     22.047990
12     13  Entrenado  14.027350  ...             27          14.209669     22.110533
13     14  Entrenado  14.121329  ...             26          13.781411     22.428936
14     15  Entrenado  13.533700  ...             29          13.407220     22.012092
15     16    Control  13.901216  ...             22          12.679648     18.148122
16     17    Control  14.430827  ...             32          12.541308     18.156119
17     18    Control  15.564386  ...             32          12.114944     17.735116
18     19    Control  14.539928  ...             23          11.731095     16.997817
19     20    Control  14.359340  ...             36          10.971560     17.969344
20     21    Control  14.584824  ...             22          10.784644     17.967102
21     22    Control  14.206841  ...             26          11.904166     18.219579
22     23    Control  14.614458  ...             25          12.227277     18.205301
23     24    Control  14.291845  ...             26          11.829888     18.215370
24     25    Control  14.552720  ...             28          12.095453     17.050239
25     26    Control  14.470242  ...             28          12.225928     17.945808
26     27    Control  14.326451  ...             29          13.142626     18.034146
27     28    Control  14.316783  ...             30          11.490003     17.659063
28     29    Control  14.880468  ...             25          11.388211     17.996960
29     30    Control  14.423010  ...             23          11.895002     17.425143

[30 rows x 14 columns]

Hacemos una primera transformación.

In [58]:
#primero fuerza a poner los no del sujeto con 2 caracteres, si no los desordena
dfDatos['SujID'] = ['{0:02d}'.format(int(x)) for x in dfDatos['SujID']]
varDescrip = ['SujID',	'Grupo',	'Edad',	'Talla', 'Masa']
var=['Puntos', 'Equilibrio', 'Salto']
dfFactores = pd.melt(dfDatos, id_vars=varDescrip, value_vars=dfDatos.columns[5:], var_name='Index', value_name='Medida')

#A partir de la variable Index, crea la columna Tiempo y NomVariable
dfFactores['Tiempo'] = dfFactores['Index'].str.split('_', expand=True)[1]
dfFactores['NomVariable'] = dfFactores['Index'].str.split('_', expand=True)[0]

#Y se reordenan las columnas. De paso se elimina la variable Index
dfFactores = dfFactores.reindex (columns=varDescrip +['Tiempo', 'NomVariable', 'Medida'])

dfFactores

    SujID      Grupo       Edad  ...  Tiempo  NomVariable      Medida
0      01  Entrenado  13.508680  ...     pre       Puntos   24.000000
1      02  Entrenado  14.108241  ...     pre       Puntos   31.000000
2      03  Entrenado  15.127287  ...     pre       Puntos   27.000000
3      04  Entrenado  14.284315  ...     pre       Puntos   22.000000
4      05  Entrenado  13.285982  ...     pre       Puntos   25.000000
5      06  Entrenado  14.416425  ...     pre       Puntos   23.000000
6      07  Entrenado  13.805980  ...     pre       Puntos   22.000000
7      08  Entrenado  14.066872  ...     pre       Puntos   24.000000
8      09  Entrenado  14.157171  ...     pre       Puntos   24.000000
9      10  Entrenado  14.207242  ...     pre       Puntos   21.000000
10     11  Entrenado  15.022504  ...     pre       Puntos  240.000000
11     12  Entrenado  14.091082  ...     pre       Puntos   25.000000
12     13  Entrenado  14.027350  ...     pre       Puntos   27.000000
13     14  Entrenado  14.121329  ...     pre       Puntos   27.000000
14     15  Entrenado  13.533700  ...     pre       Puntos   18.000000
15     16    Control  13.901216  ...     pre       Puntos   26.000000
16     17    Control  14.430827  ...     pre       Puntos   23.000000
17     18    Control  15.564386  ...     pre       Puntos   25.000000
18     19    Control  14.539928  ...     pre       Puntos   29.000000
19     20    Control  14.359340  ...     pre       Puntos   29.000000
20     21    Control  14.584824  ...     pre       Puntos   25.000000
21     22    Control  14.206841  ...     pre       Puntos   28.000000
22     23    Control  14.614458  ...     pre       Puntos   24.000000
23     24    Control  14.291845  ...     pre       Puntos   30.000000
24     25    Control  14.552720  ...     pre       Puntos   25.000000
25     26    Control  14.470242  ...     pre       Puntos   34.000000
26     27    Control  14.326451  ...     pre       Puntos   30.000000
27     28    Control  14.316783  ...     pre       Puntos   27.000000
28     29    Control  14.880468  ...     pre       Puntos   25.000000
29     30    Control  14.423010  ...     pre       Puntos   32.000000
..    ...        ...        ...  ...     ...          ...         ...
240    01  Entrenado  13.508680  ...  retest        Salto   21.909154
241    02  Entrenado  14.108241  ...  retest        Salto   22.126124
242    03  Entrenado  15.127287  ...  retest        Salto   22.071827
243    04  Entrenado  14.284315  ...  retest        Salto   22.151674
244    05  Entrenado  13.285982  ...  retest        Salto   21.755714
245    06  Entrenado  14.416425  ...  retest        Salto   22.110633
246    07  Entrenado  13.805980  ...  retest        Salto   21.769799
247    08  Entrenado  14.066872  ...  retest        Salto   22.300287
248    09  Entrenado  14.157171  ...  retest        Salto   22.132844
249    10  Entrenado  14.207242  ...  retest        Salto   21.978297
250    11  Entrenado  15.022504  ...  retest        Salto   21.936861
251    12  Entrenado  14.091082  ...  retest        Salto   22.047990
252    13  Entrenado  14.027350  ...  retest        Salto   22.110533
253    14  Entrenado  14.121329  ...  retest        Salto   22.428936
254    15  Entrenado  13.533700  ...  retest        Salto   22.012092
255    16    Control  13.901216  ...  retest        Salto   18.148122
256    17    Control  14.430827  ...  retest        Salto   18.156119
257    18    Control  15.564386  ...  retest        Salto   17.735116
258    19    Control  14.539928  ...  retest        Salto   16.997817
259    20    Control  14.359340  ...  retest        Salto   17.969344
260    21    Control  14.584824  ...  retest        Salto   17.967102
261    22    Control  14.206841  ...  retest        Salto   18.219579
262    23    Control  14.614458  ...  retest        Salto   18.205301
263    24    Control  14.291845  ...  retest        Salto   18.215370
264    25    Control  14.552720  ...  retest        Salto   17.050239
265    26    Control  14.470242  ...  retest        Salto   17.945808
266    27    Control  14.326451  ...  retest        Salto   18.034146
267    28    Control  14.316783  ...  retest        Salto   17.659063
268    29    Control  14.880468  ...  retest        Salto   17.996960
269    30    Control  14.423010  ...  retest        Salto   17.425143

[270 rows x 8 columns]

In [4]:
dfDatos.filter(regex=var).columns

TypeError: ignored

## DE VERTICAL A HORIZONTAL

### Pasa de disposición vertical a horizontal mixta, es decir, en horizontal el factor tiempo y mantiene en vertical el factor grupo, como en los análisis del SPSS.

Empezamos con un ejemplo sencillo de base de datos en disposición vertical para pasarlo a horizontal.

Tiene un factor tiempo con tres niveles y un factor grupo con dos niveles. Los datos originales se ordenan alternando el grupo (GE, GE, GC, GC, GE, GE, GC,GC...) mientras que el factor tiempo se coloca seguido (pre, pre, pre, pre, pre, pre, post, post, post, post, post, ...)

In [24]:
import numpy as np
import pandas as pd

n = 3
Tiempo = ['base', 'pre', 'post']
Grupo = ['GE', 'GC']

np.random.seed(456) #fija la aleatoriedad

#Creamos datos aleatorios para cada grupo de datos
GEBase = np.random.normal(7.3, size=n)
GEPre = np.random.normal(7.4, size=n)
GEPost = np.random.normal(10.1, size=n)
GCBase = np.random.normal(7.5, size=n)
GCPre = np.random.normal(7.5, size=n)
GCPost = np.random.normal(7.5, size=n)

#Los junta en un dataframe
df = pd.DataFrame({'SujID': np.tile(np.arange(n*len(Grupo))+1, len(Tiempo)),
                   'Grupo': np.tile(np.repeat(Grupo, len(Tiempo)), n),
                   'Tiempo': np.repeat(Tiempo, n*len(Grupo)),
                   'Medida': np.r_[GEBase, GCBase, GEPre, GCPre, GEPost, GCPost]
                   })

df

    SujID Grupo Tiempo     Medida
0       1    GE   base   6.631871
1       2    GE   base   6.801790
2       3    GE   base   7.918576
3       4    GC   base   7.184769
4       5    GC   base   5.484029
5       6    GC   base   6.369769
6       1    GE    pre   7.968692
7       2    GE    pre   8.750509
8       3    GE    pre   9.029589
9       4    GC    pre   6.388154
10      5    GC    pre   7.737851
11      6    GC    pre   7.174870
12      1    GE   post  10.401966
13      2    GE   post  10.549483
14      3    GE   post   9.754189
15      4    GC   post   9.444702
16      5    GC   post   9.415676
17      6    GC   post   8.420348

Ahora pasamos el factor tiempo a una disposición horizontal, manteniendo el factor grupo en vertical, como se hace en SPSS.

In [25]:
#primero fuerza a poner los no del sujeto con 2 caracteres, si no los desordena
df['SujID'] = ['{0:02d}'.format(int(x)) for x in df['SujID']]
#expande las variables dependientes a partir del nº de sujeto
dfHorizMixto = df.pivot(index='SujID', columns='Tiempo', values=['Medida'])
#ordena las variables como debe
dfHorizMixto = dfHorizMixto.reindex(columns=['base', 'pre', 'post'], level='Tiempo')
#aplasta el encabezado en una línea
dfHorizMixto.columns = dfHorizMixto.columns.map('_'.join).str.strip()
nonVarNuevas = list(dfHorizMixto.columns)
#pasa los sujetos de índice a columna 
dfHorizMixto.reset_index(level=0, inplace=True)

varDescriptivas = ['Grupo']
for var in varDescriptivas:
    dfHorizMixto[var] = df.loc[:dfHorizMixto.shape[0]-1, var]
dfHorizMixto = dfHorizMixto.reindex (columns= ['SujID'] + varDescriptivas + nonVarNuevas)
dfHorizMixto

  SujID Grupo  Medida_base  Medida_pre  Medida_post
0    01    GE     6.631871    7.968692    10.401966
1    02    GE     6.801790    8.750509    10.549483
2    03    GE     7.918576    9.029589     9.754189
3    04    GC     7.184769    6.388154     9.444702
4    05    GC     5.484029    7.737851     9.415676
5    06    GC     6.369769    7.174870     8.420348

### Ejemplo con más variables

Ahora cargamos una base de datos de ejemplo, que contiene una muestra que realiza un experimento en el que se realiza un test de precisión en una diana, otro de control postural y otro test de salto vertical.

In [39]:
import pandas as pd

#Cargar la base de datos de ejemplo
urlDatos='https://raw.githubusercontent.com/joselvira/BiomecanicaPython/master/Datos/BasesDatos/BaseDatosDianas_Fake.xlsx'
nombreHoja = 'DatosVertical'

dfDatos = pd.read_excel(urlDatos, sheet_name=nombreHoja, index_col=None)
dfDatos

    SujID  SujGrupo      Grupo  ... Puntos Equilibrio      Salto
0       1         1  Entrenado  ...     24  11.971867  21.572761
1       2         2  Entrenado  ...     31  11.103282  21.831651
2       3         3  Entrenado  ...     27  11.377356  21.788410
3       4         4  Entrenado  ...     22  12.275727  22.458442
4       5         5  Entrenado  ...     25  11.441037  22.107812
5       6         6  Entrenado  ...     23  11.990435  22.235000
6       7         7  Entrenado  ...     22  12.004513  21.824378
7       8         8  Entrenado  ...     24  12.128285  21.802244
8       9         9  Entrenado  ...     24  11.881908  21.872469
9      10        10  Entrenado  ...     21  11.289391  21.969301
10     11        11  Entrenado  ...    240  13.115683  21.513046
11     12        12  Entrenado  ...     25  12.185222  22.271927
12     13        13  Entrenado  ...     27  11.577893  22.000002
13     14        14  Entrenado  ...     27  11.843246  22.154202
14     15        15  Entrenado  ...     18  12.865592  22.293536
15     16         1    Control  ...     26  12.489073  18.014391
16     17         2    Control  ...     23  12.070168  18.300110
17     18         3    Control  ...     25  11.699464  17.977659
18     19         4    Control  ...     29  13.022703  17.809596
19     20         5    Control  ...     29  12.172893  17.442416
20     21         6    Control  ...     25  11.894137  17.988129
21     22         7    Control  ...     28  10.367742  18.013877
22     23         8    Control  ...     24  10.848449  18.157289
23     24         9    Control  ...     30  11.477400  18.252737
24     25        10    Control  ...     25  12.053191  17.670378
25     26        11    Control  ...     34   9.872440  17.972564
26     27        12    Control  ...     30  10.373227  17.943159
27     28        13    Control  ...     27  12.659762  18.374464
28     29        14    Control  ...     25  10.892385  18.410171
29     30        15    Control  ...     32  11.630396  18.105267
..    ...       ...        ...  ...    ...        ...        ...
60      1         1  Entrenado  ...     33  14.211841  21.909154
61      2         2  Entrenado  ...     31  14.580621  22.126124
62      3         3  Entrenado  ...     24  13.763388  22.071827
63      4         4  Entrenado  ...     31  14.672547  22.151674
64      5         5  Entrenado  ...     25  13.504805  21.755714
65      6         6  Entrenado  ...     35  14.126287  22.110633
66      7         7  Entrenado  ...     32  13.769698  21.769799
67      8         8  Entrenado  ...     28  13.896297  22.300287
68      9         9  Entrenado  ...     32  13.239037  22.132844
69     10        10  Entrenado  ...     31  13.257044  21.978297
70     11        11  Entrenado  ...     23  14.231342  21.936861
71     12        12  Entrenado  ...     25  13.511280  22.047990
72     13        13  Entrenado  ...     27  14.209669  22.110533
73     14        14  Entrenado  ...     26  13.781411  22.428936
74     15        15  Entrenado  ...     29  13.407220  22.012092
75     16         1    Control  ...     22  12.679648  18.148122
76     17         2    Control  ...     32  12.541308  18.156119
77     18         3    Control  ...     32  12.114944  17.735116
78     19         4    Control  ...     23  11.731095  16.997817
79     20         5    Control  ...     36  10.971560  17.969344
80     21         6    Control  ...     22  10.784644  17.967102
81     22         7    Control  ...     26  11.904166  18.219579
82     23         8    Control  ...     25  12.227277  18.205301
83     24         9    Control  ...     26  11.829888  18.215370
84     25        10    Control  ...     28  12.095453  17.050239
85     26        11    Control  ...     28  12.225928  17.945808
86     27        12    Control  ...     29  13.142626  18.034146
87     28        13    Control  ...     30  11.490003  17.659063
88     29        14    Control  ...     25  11.388211  17.996960
89     30        15    Control  ...     23  11.895002  17.425143

[90 rows x 11 columns]

In [36]:
#primero fuerza a poner los no del sujeto con 2 caracteres, si no los desordena
dfDatos['SujID'] = ['{0:02d}'.format(int(x)) for x in dfDatos['SujID']]
#expande las variables dependientes a partir del nº de sujeto
dfHorizMixto = dfDatos.pivot(index='SujID', columns='Tiempo', values=['Puntos', 'Equilibrio', 'Salto'])
#ordena las variables como debe
dfHorizMixto = dfHorizMixto.reindex(columns=['pre', 'post', 'retest'], level='Tiempo')
#aplasta el encabezado en una línea
dfHorizMixto.columns = dfHorizMixto.columns.map('_'.join).str.strip()
nonVarNuevas = list(dfHorizMixto.columns)
#pasa los sujetos de índice a columna 
dfHorizMixto.reset_index(level=0, inplace=True)

varDescriptivas = ['SujGrupo', 'Grupo', 'Tiempo', 'Sexo', 'Edad', 'Talla', 'Masa']
for var in varDescriptivas:
    dfHorizMixto[var] = dfDatos.loc[:dfHorizMixto.shape[0]-1, var]
dfHorizMixto = dfHorizMixto.reindex (columns= ['SujID'] + varDescriptivas + nonVarNuevas)

dfHorizMixto

   SujID  SujGrupo      Grupo  ...  Salto_pre Salto_post  Salto_retest
0     01         1  Entrenado  ...  21.572761  23.049010     21.909154
1     02         2  Entrenado  ...  21.831651  23.249798     22.126124
2     03         3  Entrenado  ...  21.788410  23.281648     22.071827
3     04         4  Entrenado  ...  22.458442  23.092659     22.151674
4     05         5  Entrenado  ...  22.107812  22.927019     21.755714
5     06         6  Entrenado  ...  22.235000  23.105766     22.110633
6     07         7  Entrenado  ...  21.824378  22.921988     21.769799
7     08         8  Entrenado  ...  21.802244  22.858167     22.300287
8     09         9  Entrenado  ...  21.872469  22.832338     22.132844
9     10        10  Entrenado  ...  21.969301  22.646438     21.978297
10    11        11  Entrenado  ...  21.513046  22.922341     21.936861
11    12        12  Entrenado  ...  22.271927  23.303027     22.047990
12    13        13  Entrenado  ...  22.000002  23.266194     22.110533
13    14        14  Entrenado  ...  22.154202  22.880438     22.428936
14    15        15  Entrenado  ...  22.293536  22.956018     22.012092
15    16         1    Control  ...  18.014391  18.253894     18.148122
16    17         2    Control  ...  18.300110  17.574357     18.156119
17    18         3    Control  ...  17.977659  17.375204     17.735116
18    19         4    Control  ...  17.809596  18.537778     16.997817
19    20         5    Control  ...  17.442416  18.209225     17.969344
20    21         6    Control  ...  17.988129  17.931526     17.967102
21    22         7    Control  ...  18.013877  18.127049     18.219579
22    23         8    Control  ...  18.157289  18.522544     18.205301
23    24         9    Control  ...  18.252737  18.281449     18.215370
24    25        10    Control  ...  17.670378  18.037447     17.050239
25    26        11    Control  ...  17.972564  18.149228     17.945808
26    27        12    Control  ...  17.943159  18.459528     18.034146
27    28        13    Control  ...  18.374464  18.232225     17.659063
28    29        14    Control  ...  18.410171  18.118956     17.996960
29    30        15    Control  ...  18.105267  18.344850     17.425143

[30 rows x 17 columns]